@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #050530;
  padding: 3px;
  font-family: 'Oswald', sans-serif;
  font-family: 'Quicksand', sans-serif;
}